button{
    height: 20px;
}
.img-star{
    width:20px;
    height: 20px;
}
.wrapper{
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;

}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.img-wrapper{
    display: flex;
}
.review-block{
    padding-right: 20px;
}
.component-wrapper{
    display: flex;
    justify-content: space-between;
}
.cart-wrapper{
    position: absolute;
    min-width: 500px;
    margin-top: 0px;
    margin-left: 600px;
}